body {
  margin: 0;
  padding: 0;
  background: url(img/ny.jpg) no-repeat;
  background-size:cover;
}
.name {
    font-size: 40px;
    font-family: 'Slabo 27px', serif;
    letter-spacing: 4px;
    font-weight: 100;
}

.subtitle{
    font-family: 'Lato', sans-serif;
    font-size:20px;
    letter-spacing:3px;
    font-weight:100;

}

.wrapper {
  
  width: 450px;
  background: rgba(0,0,0,0.4);
  padding: 40px;
  text-align:center;
  margin: auto;
  margin-top: 5%;
  color:white;
}


.profile-picture {
  border-radius: 50%;
}
.social-links {
  margin:0;
  padding:0;
}

.social-links li {
  display: inline-block;
  margin: 6px;
  list-style: none;
}

.social-links a {
  color:white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}

.social-links a:hover {
  color:b9b9b9;
}







